#landing {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-top: 25%;
    gap: 20px;
}

#landing img {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.title {
    align-self: flex-start;
    margin-bottom: 1%;
    width: 95%;
    border-bottom: solid 2px rgb(175, 175, 175);
}

.land-text {
    align-self: center;
    max-width: 80%;
    font-size: 18px;
}

.land-btn {
    margin-top: 4%;
}

#functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8%;
    gap: 20px;
    background-color: #DDDDE5;
}

.title-2{
    display: flex;
    justify-content: center;
}

.clock, .roles {
    display: flex;
    flex-direction: row;
    margin: 4%;
    gap: 20px;
}

.gear, .file {
    display: flex;
    flex-direction: row-reverse;
    margin: 4%;
    gap: 20px;
}

#why {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.why-left img{
    height: auto;
    width: 50%;
}

#why h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 2px #C4C4C4;
}

.run, .flag {
    display: flex;
    flex-direction: row;
    margin: 1em;
    gap: 1em;
}

.form, .paths {
    display: flex;
    flex-direction: row-reverse;
    margin: 4%;
    gap: 20px;
    
}

.paths {
    padding-bottom: 4%;
    border-bottom: solid 2px #C4C4C4;
}

.contact-left p {
    display: none;
}

.contact-right h2 {
    display: none;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4%;
    gap: 20px;
}

.form-cont {
    max-width: 90%;
    margin: 0 auto;
}
.form-flex {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.contact-message {
    margin-top: 2%;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2%;
    gap: 20px;
    font-size: 16px;
}

.title-about {
    text-align: center;
    border-bottom: solid 2px #C4C4C4;
    width: 100%;
    padding: 4%;
}

.us img {
    display: flex;
    flex-direction: row;    
    height: 120px;
    width: auto;
}

.us-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.us-text p {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.his img {
    display: flex;
    flex-direction: row-reverse;   
    align-items: flex-end; 
    height: 120px;
    width: auto;
}

.his-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.his-text p {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px){

    #landing {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        flex-wrap: wrap-reverse;
        margin-top: 16%;
        gap: 20px;
    }
    
    .title {
        border-bottom: white
    }
    
    .land-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16%;
    }
    .land-btn {
        display: none;
        margin-top: 4%;
    }
}







