#landing {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-top: 7em;
    gap: 2em;
}

#landing img {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.title {
    align-self: flex-start;
    margin-bottom: 0.5em;
    width: 95%;
    border-bottom: solid 2px rgb(175, 175, 175);
}

.land-text {
    align-self: center;
    max-width: 80%;
    font-size: 18px;
}

.land-btn {
    margin-top: 1em;
}

#functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5em;
    gap: 2em;
    background-color: #DDDDE5;
}

.title-2{
    display: flex;
    justify-content: center;
}

.clock, .roles {
    display: flex;
    flex-direction: row;
    margin: 1em;
    gap: 1em;
}

.gear, .file {
    display: flex;
    flex-direction: row-reverse;
    margin: 1em;
    gap: 1em;
}

#why {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.why-left img{
    height: auto;
    width: 50%;
}

#why h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 2px #C4C4C4;
}

.run, .flag {
    display: flex;
    flex-direction: row;
    margin: 1em;
    gap: 1em;
}

.form, .paths {
    display: flex;
    flex-direction: row-reverse;
    margin: 1em;
    gap: 1em;
    
}

.paths {
    padding-bottom: 1em;
    border-bottom: solid 2px #C4C4C4;
}

.contact-left p {
    display: none;
}

.contact-right h2 {
    display: none;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 2em;
}

.form-cont {
    max-width: 90%;
    margin: 0 auto;
}
.form-flex {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.contact-message {
    margin-top: 0.5em;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}







